.third-page {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-image: url("../../img/runners.jpg");
    background-size: cover;
    background-position: 0 -140px;
    background-repeat: no-repeat;
}