.main-article__text {
    --article-color: rgba(0, 0, 0, 0.6);
    padding-left: 2.2em;
    margin-bottom: 2.3em;
    border-left: 2px solid var(--article-color);
    color: var(--article-color);
}